[submodule "InsultGenerator"]
	path = InsultGenerator
	url = https://github.com/dgmjr-io/InsultGenerator.git
[submodule "CacheAccessor"]
	path = CacheAccessor
	url = https://github.com/dgmjr-io/CacheAccessor.git
