[submodule ".github"]
	path = .github
	url = https://github.com/dgmjr-io/.github.git
[submodule "src/Types/Global.Json"]
	path = src/Types/Global.Json
	url = https://github.com/dgmjr-io/Global.Json.git
[submodule "src/Types/InterfaceGenerator"]
	path = src/Types/InterfaceGenerator
	url = https://github.com/dgmjr-io/InterfaceGenerator.git
[submodule "src/Types/Primitives"]
	path = src/Types/Primitives
	url = https://github.com/dgmjr-io/Primitives.git
[submodule "src/Shared/DgmjrSdk"]
	path = src/Shared/DgmjrSdk
	url = https://github.com/dgmjr-io/DgmjrSdk.git
[submodule "src/Shared/JustInTimeVersioning"]
	path = src/Shared/JustInTimeVersioning
	url = https://github.com/dgmjr-io/JustInTimeVersioning.git
[submodule "src/Shared/NuGetPush"]
	path = src/Shared/NuGetPush
	url = https://github.com/dgmjr-io/NuGetPush.git
