[submodule ".github"]
	path = .github
	url = https://github.com/dgmjr-io/.github.git
[submodule "src/Types/Global.Json"]
	path = src/Types/Global.Json
	url = https://github.com/dgmjr-io/Global.Json.git
[submodule "src/Types/InterfaceGenerator"]
	path = src/Types/InterfaceGenerator
	url = https://github.com/dgmjr-io/InterfaceGenerator.git
[submodule "src/Types/Primitives"]
	path = src/Types/Primitives
	url = https://github.com/dgmjr-io/Primitives.git
[submodule "src/Shared/DgmjrSdk"]
	path = src/Shared/DgmjrSdk
	url = https://github.com/dgmjr-io/DgmjrSdk.git
[submodule "src/Shared/JustInTimeVersioning"]
	path = src/Shared/JustInTimeVersioning
	url = https://github.com/dgmjr-io/JustInTimeVersioning.git
[submodule "src/Shared/NuGetPush"]
	path = src/Shared/NuGetPush
	url = https://github.com/dgmjr-io/NuGetPush.git
[submodule ".frontmatter"]
	path = .frontmatter
	url = https://github.com/dgmjr-io/.frontmatter.git
[submodule "dgmjr-actions"]
	path = dgmjr-actions
	url = https://github.com/dgmjr-actions/dgmjr-actions.git
[submodule "src/Identity/ADB2C"]
	path = src/Identity/lib/ADB2C
	url = https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack.git
[submodule "src/AspNetCore"]
	path = src/AspNetCore
	url = https://github.com/dgmjr-io/Dgmjr.AspNetCore.git
[submodule "Packages"]
	path = Packages
	url = https://github.com/dgmjr-io/Packages.git
[submodule "src/Identity"]
	path = src/Identity
	url = https://github.com/dgmjr-io/Dgmjr.Identity.git
[submodule "src/CodeGeneration"]
	path = src/CodeGeneration
	url = https://github.com/dgmjr-io/Dgmjr.CodeGeneration.git
[submodule "src/SendPulse"]
	path = src/SendPulse
	url = https://github.com/dgmjr-io/SendPulse.git
[submodule "docs"]
	path = docs
	url = https://github.com/dgmjr-io/docs.git
[submodule "src/MediatR"]
	path = src/MediatR
	url = https://github.com/dgmjr-io/Dgmjr.MediatR.git
[submodule "src/MSBuildSdks/UsingsSdk"]
	path = src/MSBuildSdks/UsingsSdk
	url = https://github.com/dgmjr-io/UsingsSdk.git
[submodule "src/Types"]
	path = src/Types
	url = https://github.com/dgmjr-io/Dgmjr.Types.git
[submodule "src/EntityFrameworkCore"]
	path = src/EntityFrameworkCore
	url = https://github.com/dgmjr-io/Dgmjr.EntityFrameworkCore.git
[submodule "src/MiniApps/InsultGenerator"]
	path = src/MiniApps/InsultGenerator
	url = https://github.com/dgmjr-io/InsultGenerator.git
